[submodule "dep/translator"]
	path = dep/translator
	url = https://github.com/Frederico-Messa/PRP-Scripts-for-And-Star
	branch = translator
[submodule "dep/validator"]
	path = dep/validator
	url = https://github.com/Frederico-Messa/PRP-Scripts-for-And-Star
	branch = validator
[submodule "dep/compressor"]
	path = dep/compressor
	url = https://github.com/Frederico-Messa/FOND-Compressor
	branch = main
